<!DOCTYPE html>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<html xmlns:th="http://www.thymeleaf.org">
<head runat="server">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="/css/Notes.css" rel="stylesheet"/>
    <title>Activities</title>

</head>
<body>

<nav style="position:fixed;" class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
    <div style="margin-left:100px;" class="container">
        <a style="color: #3498db!important;" class="navbar-brand" href="#page-top">LifeSync</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars ms-1"></i>
        </button>
        <div style="justify-content:right;" class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav text-uppercase ms-auto py-4 py-lg-0">

                <li class="nav-item"><a class="nav-link" href="/LifeSync/Homepage">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/LifeSync/Profile">Profile</a></li>

            </ul>
        </div>
    </div>

</nav>

<div class="container">
    <br/><br/><br/><br/><br/><br/>
    <div class="row">
        <div class="col-md-6">
            <h1>Activities</h1>
        </div>
        <div class="col-md-6 text-md-right">
            <button class="btn btn-primary mt-2" data-toggle="modal" data-target="#addnotesmodal">Add Activity</button>
        </div>
    </div>
    <div class="page-content container note-has-grid">
        <div class="tab-content bg-transparent">
            <div id="note-full-container" class="note-has-grid row">
                <div th:each="activity:${activity}" class="col-md-4 col-sm-6" data-activity-id="${activity.activityID}">
                    <div class="single-note-item all-category">
                        <div class="card card-body">
                            <span class="side-stick"></span>
                            <h5 class="note-title text-truncate w-80 mb-0" data-noteheading="note1"
                                th:text="${activity.name}">Title <i class="fa fa-bell"></i></h5>
                            <h1 class="note-dd" th:text="${activity.date}">Date</h1>
                            <h1 class="note-dd" th:text="${activity.duration}">Duration</h1>
                            <div class="note-content" data-toggle="modal" data-target="#shownotesmodal">
                                <p class="note-inner-content text-muted" th:text="${activity.description}"
                                   data-notecontent="content1">Description</p>
                            </div>
                            <div class="d-flex align-items-center">
                                    <span class="mr-1" data-toggle="modal"
                                          th:data-target="'#editnotesmodal_' + ${activity.activityID}">
                                        <i class="fa fa-edit" style="font-size:16px"></i>
                                    </span>
                                <form id="deleteActivity" th:action="@{/LifeSync/deleteActivity(id=${activity.activityID})}"  method="post" >
                                    <button type="submit" class="btn remove-note-btn">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </form>
                                <a href=></a>
                                <div class="ml-auto">
                                    <div class="category-selector btn-group">
                                        <a class="nav-link dropdown-toggle category-dropdown label-group p-0"
                                           data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                                           aria-expanded="true">
                                            <div class="category">
                                                <span class="more-options text-dark"><i
                                                        class="icon-options-vertical"></i></span>
                                            </div>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right category-menu"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Add notes -->
    <div class="modal fade" id="addnotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title text-white">Add Notes</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addNoteForm" action="/LifeSync/addActivity" method="post">
                        <div class="form-group">
                            <label for="actTitle">Title</label>
                            <input type="text" class="form-control" id="actTitle" name="actTitle" required>
                        </div>
                        <div class="form-group">
                            <label for="actdate">Date</label>
                            <input type="text" class="form-control" id="actdate" name="actdate" required>
                        </div>
                        <div class="form-group">
                            <label for="actduration">Duration</label>
                            <input type="text" class="form-control" id="actduration" name="actduration" required>
                        </div>
                        <div class="form-group">
                            <label for="actDescription">Description</label>
                            <textarea class="form-control" id="actDescription" name="actDescription" rows="3"
                                      required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btnSaveNote">Save</button>
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Discard</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <!-- Iterate over the list of activities and generate separate modal forms -->
    <div th:each="activity, iterStat : ${activity}" class="modal fade"
         th:id="'editnotesmodal_' + ${activity.activityID}"
         tabindex="-1" role="dialog" aria-labelledby="'editnotesmodalTitle_' + ${activity.activityID}"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <h5 class="modal-title text-white">Edit Activity</h5>
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editnotes" action="/LifeSync/editActivity" method="post">
                        <input type="hidden" id="editActivityId" name="editActivityId"
                               th:value="${activity.activityID}"/>
                        <div class="form-group">
                            <label for="editTitle">Title</label>
                            <input type="text" class="form-control" id="editTitle" name="editTitle" required>
                        </div>
                        <div class="form-group">
                            <label for="editdate">Date</label>
                            <input type="text" class="form-control" id="editdate" name="editdate" required>
                        </div>
                        <div class="form-group">
                            <label for="editduration">Duration</label>
                            <input type="text" class="form-control" id="editduration" name="editduration" required>
                        </div>
                        <div class="form-group">
                            <label for="editDescription">Description</label>
                            <textarea class="form-control" id="editDescription" name="editDescription" rows="3"
                                      required></textarea>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" id="btnEditSaveNote">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="shownotesmodal" tabindex="-1" role="dialog" aria-labelledby="addnotesmodalTitle"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info text-white">
                    <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="shownotes" onsubmit="">
                        <div class="form-group">
                            <label for="showTitle">Title</label>
                            <input type="text" class="form-control" id="showTitle" readonly>
                        </div>
                        <div class="form-group">
                            <label for="showDate">Date</label>
                            <input type="text" class="form-control" id="showDate" readonly>
                        </div>
                        <div class="form-group">
                            <label for="showDuration">Duration</label>
                            <input type="text" class="form-control" id="showDuration" readonly>
                        </div>
                        <div class="form-group">
                            <label for="showDescription">Description</label>
                            <textarea class="form-control" id="showDescription" rows="3" readonly></textarea>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script>window.addEventListener('DOMContentLoaded', event => {

    // Navbar shrink function
    var navbarShrink = function () {
        const navbarCollapsible = document.body.querySelector('#mainNav');
        if (!navbarCollapsible) {
            return;
        }
        if (window.scrollY === 0) {
            navbarCollapsible.classList.remove('navbar-shrink')
        } else {
            navbarCollapsible.classList.add('navbar-shrink')
        }

    };

    // Shrink the navbar
    navbarShrink();

    // Shrink the navbar when page is scrolled
    document.addEventListener('scroll', navbarShrink);

    //  Activate Bootstrap scrollspy on the main nav element
    const mainNav = document.body.querySelector('#mainNav');
    if (mainNav) {
        new bootstrap.ScrollSpy(document.body, {
            target: '#mainNav',
            rootMargin: '0px 0px -40%',
        });
    };

    // Collapse responsive navbar when toggler is visible
    const navbarToggler = document.body.querySelector('.navbar-toggler');
    const responsiveNavItems = [].slice.call(
        document.querySelectorAll('#navbarResponsive .nav-link')
    );
    responsiveNavItems.map(function (responsiveNavItem) {
        responsiveNavItem.addEventListener('click', () => {
            if (window.getComputedStyle(navbarToggler).display !== 'none') {
                navbarToggler.click();
            }
        });
    });

});</script>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>


</body>